{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-sm-4">12</div>
    <div class="col-sm-4">34</div>
    <div class="col-sm-4">56</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
