{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-sm-6">12</div>
                <div class="col-sm-6">34</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
